{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block top_content %}
    <h1 class="jumbotron-heading">Report page</h1>
    <p class="lead text-muted">On this page you can get pdf file about IS (<a href="{% url 'Export_PDF' %}"
                                                                              class="btn btn-sm btn-secondary">Get
        PDF</a>)</p>
{% endblock %}
{% block bottom_content %}
    <div class="container bg-dark text-light mt-3 mb-3" style="border:5px solid black;border-radius:20px;">
        <div class="mt-4 mb-4">
            <table class="table table-hover table-bordered table-light table-striped">
                <thead>
                <tr>
                    <th>Employee fio</th>
                    <th>Employee email</th>
                    <th>Employee phone</th>
                    <th>Employee position</th>
                    <th>Employee order</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employees %}
                    <tr>
                        <td>{{ employee }}</td>
                        <td>{{ employee.email }}</td>
                        <td>{{ employee.phone }}</td>
                        <td>{{ employee.position }}</td>
                        <td>
                            {% for order in employee.order_set.all %}
                                {{ order }}<br>
                            {% empty %}
                                Not found order
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center text-light">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link bg-dark border-success text-light"
                           href="?page={{ page_obj.previous_page_number }}" tabindex="-1">&laquo;</a>
                    </li>
                {% endif %}
                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active"><a class="page-link bg-dark border-secondary text-secondary"
                                                        href="?page={{ p }}">{{ p }}</a></li>
                    {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:2 %}
                        <li class="page-item"><a class="page-link bg-dark border-secondary text-light"
                                                 href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link bg-dark border-secondary text-light"
                           href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
