{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block top_content %}
    <h1 class="jumbotron-heading">Get products where price > [price]</h1>
    <p class="lead text-muted">enter button and get result (to <a href="{% url 'home' %}">home</a> or to <a
            href="{% url 'queries' %}">queries</a>)
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Get data" class="btn btn-secondary">
    </form>
{% endblock %}
