{% extends 'records_list.html' %}
{% load model_tags %}
{% block title %}
    {{ title }}
{% endblock %}
{% block top_content %}
    <h1 class="jumbotron-heading">Products page</h1>
    <p class="lead text-muted">Information about all products(<a href="{% url 'home' %}">go to home page</a>)</p>
{% endblock %}
{% block elements_list %}
    {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="" style="height:225px;width:100%;display:block;">
                {% else %}
                    <img src="https://icon-library.com/images/no-image-icon/no-image-icon-1.jpg" alt=""
                         class="mr-3" style="height:225px;width:100%;display:block;">
                {% endif %}
                <div class="card-body">
                    <p class="card-text"><strong>Product name:</strong> {{ product.name }}</p>
                    <p class="card-text"><strong>Technical description:</strong> {{ product.tech_description }}</p>
                    <p class="card-text"><strong>Product price:</strong> {{ product.price }}</p>
                    <p class="card-text"><strong>Is there in the store:</strong> {{ product.is_on_shop }}</p>
                    <p class="card-text"><strong>Product category:</strong> {{ product.category }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        {% if request.user|has_group:'employee' %}
                            <div class="btn-group">
                                <a href="{% url 'Product' product.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                                <a href="{% url 'Edit_Product' product.pk %}" class="btn btn-sm btn-dark">Edit</a>
                            </div>
                            <a href="{% url 'Delete_Product' product.pk %}" class="btn btn-sm btn-secondary ">Delete</a>
                        {% else %}
                            <a href="{% url 'Product' product.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">View</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}