{% extends 'base.html' %}
{% block title %}Delete confirm{% endblock %}
{% block top_content %}
    <h1 class="jumbotron-heading">Delete confirmation</h1>
    <p class="lead text-muted">Delete client with pk {{ client.pk }}(<a href="{% url 'Clients' %}">go to
        clients</a>)</p>
{% endblock %}
{% block bottom_content %}
    <div class="container bg-dark text-light mt-3 mb-3" style="border:5px solid black;border-radius:20px;">
        <div class="mt-4 mb-4">
            <form method="post">
                {% csrf_token %}
                <p>Are you sure want to delete client with fio "{{ object }}"?</p>
                <input type="submit" value="Confirm" class="btn btn-secondary">
            </form>
        </div>
    </div>
{% endblock %}
