{% extends 'base.html' %}
{% block title %}Edit client{% endblock %}
{% block top_content %}
    <h1 class="jumbotron-heading">Edit client</h1>
    <p class="lead text-muted">Edit client with pk {{ client.pk }}(<a href="{% url 'Clients' %}">go to clients</a>)</p>
{% endblock %}
{% block bottom_content %}
    <div class="container bg-dark text-light mt-3 mb-3" style="border:5px solid black;border-radius:20px;">
        <div class="mt-4 mb-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Update" class="btn btn-secondary">
            </form>
        </div>
    </div>
{% endblock %}
