{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block top_content %}
    <h1 class="jumbotron-heading">Authorization form</h1>
    <p class="lead text-muted">Enter your login and password (go to <a href="{% url 'home' %}">home</a>)
    </p>
{% endblock %}
{% block bottom_content %}
    <div class="container bg-dark text-light mt-3 mb-3" style="border:5px solid black;border-radius:20px;">
        <form method="post">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit" class="btn btn-secondary btn-block">Login</button>
        </form>
    </div>
{% endblock %}
